section {
            background-color: #fcbaad;
            color: #fff;
            text-align: center;
        }

        h1 {
            color: #fff;
        }

        h2 {
            color: #916db3;
        }